---
import HandbookLanding from "../handbook/HandbookLanding.astro";
import Container from "../ui/layout/Container/Container.astro";
import Section from "../ui/layout/Section/Section.astro";
---

<Section spacing="xl" class="windows-security-handbook">
  <Container size="xl">
    <HandbookLanding />
  </Container>
</Section>

<style>
  .windows-security-handbook {
    overflow: clip;
  }
</style>
